
.container{
    height: 100vh;
    width: 100vw;
    background-color: rgb(2, 2, 31);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
}

.container img{
    height: 50vh;
    width: 30vw;
    border-radius: 20px;
}

.container h1{
    position: absolute;
    top: 10px;
    left: 4vw;
    font-size: 3em;
}
.container h3{
    display: flex;
    justify-content: center;
    font-size: 3rem;
}

.heading{
    margin: 50px;
    color: aliceblue;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.heading p{
    font-size: x-large;
    font-family: Arial, Helvetica, sans-serif;
    width: 40vw;
}


.box{
    position: relative;
    top: 5vh;
    border: 3px solid white;
    height: 40vh;
    width: 40vw;
    border-radius: 200px;
    color: white;
}

.box span{
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
}

.join{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    align-items: center;
    margin-top: 10vh;

}

.join input{
    height: 40px;
    width: 15vw;
    border-radius: 40px;
    border: none;
}

.join button{
    height: 30px;
    width: 15vw;
    background-color: rgb(42, 255, 248);
    border-radius: 40px;
    
}

.create{
    display: flex;
   flex-direction: column; 
   align-items: center;
   margin-top: 5vh;
}

.create button{
    height: 30px;
    width: 15vw;
    border-radius: 40px;
    
}